.heroBanner {
  padding: 4rem 0;
  text-align: start;
  position: relative;
  overflow: hidden;
}

.version {
  font-size: 10px;
  color: #333;
  margin-bottom: 20px;
  margin-left: 5px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  font-family: monospace;
  margin-top: 10px;
}

.copy {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4rem 0.7rem;
  width: fit-content;
  border-radius: 5px;
  font-family: monospace;
  font-size: 30px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #fa9021;
  transition: border 0.3s;
  background-color: #f68a17;
}

.copyText {
  color: #333;
  margin: 0 10px;
}

.copy:hover {
  border: 1px solid #333;
}

.clipboard {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s;
}

.clipboard:hover {
  transform: scale(1.1);
}

.btnBlack {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: semibold;
  text-decoration: none;
  transition: background-color 0.3s;
  width: fit-content;
  margin-top: 30px;
}
.btnBlack > a {
  color: #fff;
  text-decoration: none;
}
.btnBlack:hover {
  background-color: #222;
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .subtitle {
    font-size: 18px;
  }
  .copyText {
    font-size: 16px;
  }
}
